:root {
	--swiper-navigation-color: rgba(63,144,187, 0.9) !important }

@font-face {
	font-family: 'Geometria';
	src: url(font/Geometria-Bold.woff2) format('woff2'),url(font/Geometria-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Geometria';
	src: url(font/Geometria.woff2) format('woff2'),url(font/Geometria.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Geometria';
	src: url(font/Geometria-Italic.woff2) format('woff2'),url(font/Geometria-Italic.woff) format('woff');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'Geometria';
	src: url(font/Geometria-BoldItalic.woff2) format('woff2'),url(font/Geometria-BoldItalic.woff) format('woff');
	font-weight: 700;
	font-style: italic
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	background-color: #ffffff;
	/* word-break: break-word; */
	color: #091941;
}

body.fix {
	overflow: hidden
}

body,input,textarea,select,button {
	font-family: 'Geometria',sans-serif
}

input,textarea,select,button {
	outline: none
}

img {
	max-width: 100%;
	height: auto
}

h1,h2,h3,h4,h5,h6 {
	font-size: 2.5em;
	font-weight: 700;
	/* margin: .5em 0; */
}

strong,b {
	font-weight: 700
}

a {
	text-decoration: none;
	color: #000;
	color: #091941;
}

a img:hover {
	opacity: .8
}

form label {
	color: #000;
	font-size: .8em;
	display: block;
	margin: 1em;
}

form label a {
	border-bottom: 1px dashed;
	color: #777;
}

form label a:hover {
	border: 0
}

input,button,textarea {
	outline: 0
}

input[type="text"],input[type="password"],textarea {
	font-size: .8em;
	padding: 0 1.2em;
	border: 1px solid #eee;
	background-color: #fff;
	/* border-radius: 2em; */
	color: #777;

	background: #F3F3F6;
    border-radius: 5px;
    /* padding: 0.5em; */
	width: 100%;
	height: 35px;

}
select {
	font-size: .8em;
	padding: 0 1.2em;
	border: 1px solid #eee;
	color: #777;
	background: #F3F3F6;
    border-radius: 5px;
    /* padding: 0.5em; */
	width: 100%;
	height: 35px;
}

input[type="submit"],button {
	border: 0;
	cursor: pointer
}

input[name=mail] {
	display: none!important
}

ul,ol {
	list-style: none;
	/* font-size: 0; */
}

img {
	max-width: 100%
}

p + p {
	margin: .5em 0 0;
}

a img:hover {
	opacity: .8
}

.but {
	background-color: #00a0e3;
	padding: .8em 1em;
	font-size: 1em;
	/* border-radius: 2em; */
	color: #fff;
	font-weight: 700;
	display: inline-block;
	border: 2px solid transparent;

	background: linear-gradient(163.87deg, #2AACAD 10.35%, #5136A1 101%);
	box-shadow: 0px 5px 15px rgba(2, 125, 213, 0.3);
	border-radius: 4px;
	width: 100%;
}


.but:hover {
	background-color: #b2b3b3;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
	position: relative;
}

.fond {
	background: url(../img/fond.jpg) center/cover no-repeat;
}

.hood {
	padding: 10px 0;
	position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(9,25,65,0.2);
    top: 0;
    background-color: #ffffff;
    z-index: 5;

}

.hood .on {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.hood .on .lf {
	/* flex: 0 20%; */
}

.hood .on .lf a {
	font-size: 0
}

.hood .on .lf img {
	max-width: 180px;
	filter: invert(100%) sepia(85%) saturate(1313%) hue-rotate(136deg) brightness(85%) contrast(100%);
}

.hood .on .cn {
	padding: 0 1em;
}

.hood .on .cn ul {
	display: inline-flex;
	width: 100%;
	justify-content: center;
	font-size: 100%;
}

.hood .on .cn ul li + li {
	margin: 0 0 0 1em;
}

.hood .on .cn ul li a {
	color: #091941;
	font-size: 1em;
	border-bottom: 1px solid transparent;
	/* text-transform: uppercase; */
}

.hood .on .cn ul li a:hover {
	border-color: #00a0e3;
}

.hood .on .rt {
	/* flex: 0 20%; */
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
}

.hood .on .rt .l {
	padding: 0 1em 0 0;
}

.hood .on .rt .l a {
	display: block;
	font-size: 0;
	/* padding: 2em; */
}

.hood .on .rt .l a img {
	max-width: 24px;
	filter: invert(36%) sepia(90%) saturate(1327%) hue-rotate(170deg) brightness(101%) contrast(101%);
}

.hood .on .rt .r {
	text-align: right;
	display: flex;
    align-items: center;
}
.icon-phone{
	display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #4E69D9; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.icon-phone img{
	/* width: 20px; */
}

.hood .on .rt .r p {
	font-size: 18px;
	color: #091941;
	font-weight: bold;

}

.hood .on .rt .r p a {
	color: #091941;
	font-weight: bold;
}




.head {
	/* min-height:400px */
	display: flex;
	align-items: center;
	flex-direction: column;
    position: relative;
	justify-content: center;
	padding: 70px 0 0;
	/* background-image: url(/img/leading.jpg); */
    /* height: 100vh; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background: radial-gradient(50% 50% at 50% 50%, rgba(36, 43, 67, 0.14) 37.5%,
				rgba(64, 72, 98, 0.7) 100%),
				linear-gradient(180deg, rgba(18, 123, 193, 0.5) 7.81%,
				rgba(9, 95, 161, 0) 14.06%), url(/img/leading.jpg) no-repeat center/cover; */
}
.sld-main{
	position: absolute !important;
	z-index: 0 !important;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
	padding: 60px 0 0 !important;

}
.sld-main .swiper-slide{
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.head .on {
	/* text-align: center; */
	padding: 7em 30px;
	display: flex;
	align-items: center;

}
.head .on .a {
}

.head .on .a h1 {
	/* color: #34769A; */
	font-size: 2.5em;
    color: #fff;
	text-transform: uppercase;
	/* -webkit-text-stroke: 2px #091941; */
	margin-bottom: 25px;
}

.head .on .a p {
	font-size: 1.4em;
	/* color: #6562A2; */
	margin: .2em 0 0;
	color: #fff;

}

.head .on .a ul {
	display: flex;
	justify-content: center;
	font-size: 100%;
	margin: 1em 0 0;
}

.head .on .a ul li {
	font-size: 1.2em;
	color: #fff;
	font-weight: bold
}

.head .on .a ul li::before {
	content: '';
	background-color: #00a0e3;
	padding: .2em;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 .2em 0 0
}

.head .on .a ul li + li {
	margin: 0 0 0 1em
}

.head .on .b {
	margin: 2em 0 0;
}

.head .on .b .go {
}

.head-form {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.15);
    border-radius: 10px;
	border: 4px solid rgba(63,144,187, 0.3);
}
.form-wrap{
	display: flex;
    width: 500px;
	margin: 0 -15px;
}
.form-wr {
    width: 50%;
    padding: 0 15px;
}
.btn-form-box {
    margin-top: 10px;
}
.btn-form-box label {
    text-align: center;
	color: #091941;
	margin-bottom: 0;
}
.form-wr h4 {
    font-size: 18px;
    text-transform: uppercase;
}
.form-box {
	margin: 10px 0;
}
.form-box p {
    margin-bottom: 5px;
    opacity: 0.9;
}
.box {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.box .form-box {
	padding: 0 15px;
	margin: 0;
}
.box-three {
    display: flex;
    align-items: center;
}
.box-three span {
	padding: 0 5px;
}
.form-wr .but {
	margin-top: 15px;
	height: 50px;
}





/* материалы */

/* .serv .on {
	display: flex;
	flex-wrap: wrap;
	margin: 2em 0 0;
	justify-content: center;
}

.serv .on .h {
	flex: 0 30%;
	margin-right: 5%;
	box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.05);
	display: inline-flex;
	flex-direction: column;
}



.serv .on .h .a {
	font-size: 0;
}

.serv .on .h .b {
	padding: 2em 2em 0;
	flex: 1;
}

.serv .on .h .b p {
	font-size: 1.5em;
}

.serv .on .h .b ul {
	font-size: 100%;
	margin: 1em 0
}

.serv .on .h .b ul li {
	font-size: .8em;
}

.serv .on .h .b ul li::before {
}

.serv .on .h .b ul li + li {
	margin: .5em 0 0;
}

.serv .on .h .c {
	margin: 1em 0;
	text-align: center;
}

.serv .on .h .c a {
}

.serv .tw {
	margin: 3em 0 0;
	text-align: center
}

.serv .tw a {
	background-color: #fff;
	color: #000;
	border-color: #00a0e3;
}

.serv .tw a:hover {
	background-color: #00a0e3;
	color: #fff
} */

.work {
    margin: 3em 0 0;
    padding: 2em 0 3em;
    background-color: #353535;
	text-align: center;
	background: linear-gradient(123.78deg, rgba(0, 53, 50, 0.67) 4.51%, rgba(14, 0, 54, 0.67) 97.62%);
}


.work h3 {
	color: #fff;
	margin-bottom: 15px;
}
.work .on{
	width: auto !important;
	/* padding: 1em 1em 0; */

}
.swiper-lazy{
	height: 300px;
	/* width: 300px; */
}

/* .work .on p {
	font-size: 2em;
	color: #fff;
	font-weight: bold;
}

.work .on ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em 0 0;
	font-size: 100%
}

.work .on ul li {
	flex: 23%;
	margin: 1%;
	font-size: 0;
} */

/* .about {
	margin: 3em 0 0;
	background-color: #f7f7f7;
}

.about .on {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.about .on .l {
	flex: 0 46%;
	font-size: 0;
}

.about .on .r {
	flex: 0 54%;
	padding: 1em 2em;
}

.about .on .r  ul{
	padding:1em 0 0 1em;
	font-size:100%
}
.about .on .r  ul li{
	font-size:1em
}

.about .on .r  ul li:before{
	content:'';
	background-color: #00a0e3;
	display:inline-block;
	vertical-align: middle;
	padding:.2em;
	margin:0 .5em 0 0
}

.about .on .r  ul li + li{
	margin: .2em 0 0
} */

.contact {
	margin: 3em 0 0;
	/* background-color: #f7f7f7; */
}

.contact .on {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.05);
}

.contact .on .lf {
	flex: 0 50%;
	/* text-align: center; */
	/* padding: 0 4em; */
	text-align: center;
	margin: 2em 0;
}

.contact .on .lf .a {
	/* display: inline-block; */
	/* text-align: left; */
}

.contact .on .lf .a h4 {
	margin: 0 0 .5em
}

.contact .on .lf .a p {
	font-size: 1.2em;
}

.contact .on .lf .a p a::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	/* background-color: #000; */
	height: 20px;
	width: 20px;
	margin: 0 .5em 0 0;
	filter: invert(36%) sepia(90%) saturate(1327%) hue-rotate(170deg) brightness(101%) contrast(101%);
}

.contact .on .lf .a p:nth-child(2) a::before,.contact .on .lf .a p:nth-child(3) a::before {
	background: url(../img/cl.png) center/20px no-repeat;
}

.contact .on .lf .a p:nth-child(4) a::before {
	background: url(../img/el.png) center/20px no-repeat;
}

.contact .on .rt {
	flex: 0 50%;
	/* box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.05); */
	padding: 3em;
	/* margin: 3em 0; */
	/* background: url(../img/fond.jpg) center/cover no-repeat; */
	text-align: center;
	/* border: .2em solid #00a0e3; */
	background-color: #f7f7f7;
}

.contact .on .rt .a {
}

.contact .on .rt .a h4 {
	font-size: 1.8em
}

.contact .on .rt form {
	margin: 1em 0 0;
	/* text-align: center; */
}

.contact .on .rt form input[type=text] {
	display: block;
	width: 100%;
	/* width: 49%; */
}

.contact .on .rt form input[type=text] + input[type=text] {
	margin: 1em 0 0
}

.contact .on .rt form label {
	/* display: block; */
	/* font-size: .8em; */
	/* margin: 1em; */
	/* color: #777 */
}



.mess {
	position: fixed;
	right: 3%;
	bottom: 3%;
	z-index: 11;
}

.mess .a {
}

.mess .a a {
	background-color: #25d366;
	padding: 15px;
	border-radius: 50%;
	font-size: 0;
	display: inline-block
}

.mess .a a img {
	max-width: 32px !important;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 99999;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.75);
	text-align: center;
}

.modal .on {
	position: relative;
	max-width: 360px;
	margin: 0 auto;
	background-color: #fff;
	padding: 38px;
	/* border-radius: 25px; */
}

.modal .on .a {
	margin: 0 0 2px
}

.modal .on .a h4 {
	font-size: 32px;
	/* color: #fff */
}

.modal .on .a p {
	font-size: 16px;
	/* color: #eee */
}

.modal .on form {
	/* font-size: 0; */
	margin: 15px 0 0;
}

.modal .on form input {
	margin: 10px 0 0;
	display: block;
	width: 100%
}

.modal #close {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.7);
	cursor: pointer
}

.order {
	max-height: 100vh
}

.order .on {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	justify-content: center;
	flex-direction: column
}

.order .on .a {
	text-align: center
}

.order .on .a h1 {
	font-size: 48px;
	margin: 0 0 15px
}

.order .on .a p {
	font-size: 21px
}

.order .on .a p + p {
	margin: 15px 0 0
}

.order .on .b {
	margin: 32px
}

.order .on .b a {
	font-size: 21px;
	border-bottom: 1px dotted;
	color: #777
}

.order .on .b a:hover {
	border: 0
}

[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(40%)
}

.policy {
	margin: 2em 0
}

.policy h3 {
	font-size: 27px
}

.policy .on {
	padding: 2em 0 0;
	border-top: 1px solid #eee;
	margin: 2em 0 0;
}

.policy .on p {
	font-size: 16px;
	font-weight: bold;
}

.policy .on mark {
	/* display:block; */
	background-color: #dedede;
}

.policy .on ol {
}

.policy .on ol li {
	font-size: 14px;
	margin: .5em 0 0
}




/* advantages */
#advantages {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.advantages-wrapper{
	display: flex;
	width: 1200px;
}
.advantages-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 16.66%;
}
.advantages-box img{
	height: 100px;
}
.advantages-box p{
	text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
	text-align: center;
	margin-top: 10px;
}
.materials-wrapper h3{
	text-align: center;
	margin: 40px 0 30px;

}
.materials-wr{
	display: flex;
    flex-wrap: wrap;
	margin: 0 -10px;
}
.materials-box{
	/* width: 50%;
    height: 425px;
    margin-bottom: 20px;
	padding: 0px 20px; */
	width: 25%;
	/* height: 665px; */
	height: auto;
    margin-bottom: 20px;
    padding: 0px 10px;
}
.materials{
	background: #F2F3F7;
    padding: 25px 20px;
	height: 100%;
	background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.15);
    border-radius: 10px;
    border: 4px solid rgba(63,144,187, 0.2);
}
.materials p{
	font-size: 17px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.materials ul{
	list-style: disc;
    margin: 0 0 0 15px;
}
.materials ul li {
	margin-bottom: 10px;
    font-size: 14px;
}
.materials-wrapper .btn-more{
	cursor: pointer;
    font-size: 13px;
	margin: 15px 0;
	text-align: start;
	margin: 20px;
	/* color: #02A6C7; */
}
.materials-wrapper .btn-more a{
	color: #02A6C7;
}


.partner{
    margin: 40px 0;
}
.partner .on {
    display: flex;
    align-items: center;
}
.part-text{
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.15);
    border-radius: 10px;
    padding: 75px 55px;
    text-align: center;
	width: 35%;
	height: 295px;
    border: 4px solid rgba(63,144,187, 0.3);
}
.part-text h4{
	font-size: 28px;
    margin-bottom: 20px;
}
.part-text p{

}
.logo-partners{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
}
.logo-pr{
	margin: 10px;
    display: flex;
    align-items: center;
	justify-content: center;
	width: 110px;
}
.logo-pr img{
}
.map {
	/* height: 500px;
	width: 100%; */
	position: relative;
}
.map-wr{
	height: 500px;
	width: 100%;
}
.contact-wr{
	position: absolute;
	right: 10%;
	background: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.15);
	border-radius: 10px;
	padding: 35px;
}
.contact-wr::before{
    width: 40px;
    height: 55px;
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);
    background-image: url(/img/bul.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
}
.cont-box{
	padding: 10px 0;
}
.cont-box .title{
	font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #172029;
    opacity: 0.6;
}
.cont-box .text,
.cont-box .text a{
	font-size: 18px;
    font-weight: bold;
	margin: 5px 0 0;
	opacity: 0.9;
	color: #091941;
}
.foot {
	margin: 3em 0 0;
	padding: 3em 0 2em;
	background-color: #f7f7f7;
}

.foot .on {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.foot .on .lf img {
	max-width: 180px;
	filter: invert(100%) sepia(85%) saturate(1313%) hue-rotate(136deg) brightness(85%) contrast(100%);
}

.foot .on .lf p {
	color: #777;
	/* font-size: .8em; */
}

.foot .on .cn {
    display: flex;
    width: 500px;
}
.footer-menu{
	width: 50%;
}
.footer-menu li{
	margin-bottom: 5px;
}

.foot .on .cn a {
	color: #091941;
    font-size: 1em;
	border-bottom: 1px solid transparent;
}

.foot .on .cn a:hover {
	text-decoration: underline
}

.foot .on .rt {
	text-align: right;
	/* flex:0 20% */
}

.foot .on .rt p {
	font-size: 12px;
	color: #091941;
}

.foot .on .rt p a {
	color: #091941;
	font-weight: bold;
	font-size: 22px;
}
.foot .wrap .footer-sib p{
	color: #777;
    font-size: 12px;
}
.on.footer-sib {
    margin-top: 20px;
}
.foot .wrap .footer-sib p a{
	color: #02A6C7;
    font-size: 12px;
}
.flamp-wrapper.responsive-new__add--full{
	background: linear-gradient(163.87deg, #2AACAD 10.35%, #5136A1 101%) !important;
}
.mob-btn .but,
.mob-form-wr,
.mob-burger{
	display: none;
}
/* menu mob */
.overlay-menu {
	display: block;
	position: fixed;
	z-index: 6;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(123.78deg, rgba(0, 53, 50, 1) 4.51%, rgba(14, 0, 54, 1) 97.62%);
	opacity: 0.8;
}
.header-mob-wrapper{
	display: none;
	justify-content: center;
	transition: 0.2s;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	bottom: 0;
  }
  .header-mob{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 224px;
	height: 100vh;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(9, 25, 65, 0.12);
	padding: 37px 30px;
  }
  .img-header-mob{
	filter: invert(100%) sepia(85%) saturate(1313%) hue-rotate(136deg) brightness(85%) contrast(100%);
  }
  .menu-mob{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
  }
  .menu-mob li{
	display: inline;
	margin: 0 0px 6px;
	text-align: center;
	font-size: 13px;
	line-height: 25px;
	color: #091941;
	border-bottom: 1px solid #E1E4E9;
	width: 153px;
	padding: 0 0 8px;
  }
  .menu-mob li:last-child{
	border: none;
  }
  .menu-mob li a {
	width: 100%;
	height: 100%;
	display: inline-block;
  }
    .mob-close-menu{
	position: absolute;
	top: 50%;
	margin-top: -13.5px;
	right: -85px;
	cursor: pointer;
	user-select: none;
	z-index: 10;
  }
  .logo-mob {
    margin-bottom: 50px;
}
  /* menu mob */
  /* технологии */
  .technologies .on {
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between; */
}
  .technologies .l {
	/* display: flex; */
    /* flex-direction: column; */
	/* align-items: center; */
	position: relative;
	/* width: 20%; */
}

.technologies .l p {
    font-size: 22px;
    /* max-width: 240px; */
    /* text-align: center; */
    padding-top: 20px;
    padding: 10px 0 10px 40px;
    display: flex;
    align-items: center;
}
.technologies h3 {
    text-align: center;
    margin: 20px 0;
}
/* .technologies .l::after{
	background-color: rgba(63,144,187, 0.2);
	content: '';
    width: 140px;
    height: 4px;
    position: absolute;
    top: 20px;
	left: 160px;
} */
.technologies .l p::before{
	width: 20px;
    background: linear-gradient(163.87deg, #2AACAD 10.35%, #5136A1 101%);
    content: '';
    height: 20px;
    border-radius: 50%;
    position: absolute;
    /* top: 50%; */
    left: 0px;

}
.technologies .l ul{
	margin-left: 60px;
    font-size: 18px;
}
.technologies .l li::before{
	width: 7px;
	/* background: linear-gradient(163.87deg, #2AACAD 10.35%, #5136A1 101%); */
	border: 2px solid #5136A1;
    content: '';
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    opacity: 0.7;
}
.technologies .l li{
	position: relative;
	display: flex;
	align-items: center;
	padding: 5px;
}

/* .technologies .l:nth-child(5)::after{
	content: none;
} */
@media screen and (max-width: 1100px) {
	.head .on .a h1 {
		font-size: 2em;
		margin-bottom: 15px;
		width: 340px;
		margin-right: 20px;
	}
	.materials {
		padding: 25px 35px;
	}
	.materials-wr {
		margin: 0 -10px -20px;
	}
	.materials-box {
		width: 50%;
		min-height: 465px;
		padding: 0px 15px;
		height: auto;
	}
	.hood .on .cn ul li a {
		font-size: 0.9em;
	}
	.part-text {
		height: auto;
		padding: 50px 15px;
	}

}


@media screen and (max-width: 992px) {
	.hood .on .cn {
		display:none
	}
	.hood .on .lf {
		display: none;
	}
	.mob-burger {
		display: block;
		cursor: pointer;
	}
	.mob-burger img{
		display: block;
		width: 32px;
	}
	.header-mob-wrapper{
		display: flex;
		transform: translateX(-100%);
	  }
	  .mob-menu-show {
		transform: translateX(0);
	  }
	  .mob-menu-show .mob-close-menu {
		opacity: 1;
		visibility: visible;
	  }
	  .mob-close-menu {
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;
		
	  }
	.partner .on {
		flex-direction: column-reverse;
	}
	.part-text {
		width: auto;
	}
	.logo-partners {
		width: 100%;
		padding-left: 0px;
	}
	.head-form {
		display: none;
	}
	.head .on .a h1 {
		width: auto;
		margin: 0;
		max-width: 615px;
	}
	.head .on .a {
		text-align: center;
	}
	.contact-wr {
		right: 4%;
		padding: 25px;
	}
	.contact-wr h3{
		font-size: 2em;
	}
	.cont-box {
		padding: 5px 0;
	}
	.cont-box .text, .cont-box .text a {
		font-size: 16px;
		margin: 0px 0 0;
	}
	.foot .on {
		flex-direction: column;
	}
	.foot .on .cn {
		width: 295px;
		flex-direction: column;
		align-items: center;
	}
	.footer-menu {
		width: auto;
		text-align: center;
	}
	.foot .on .rt {
		text-align: center;
		margin-top: 10px;
	}
	.mob-btn {
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
	}
	.mob-btn .but {
		display: block;
		border: none;
		width: 360px;
		margin: auto;
		text-align: center;
		padding: 1em;
		font-size: 20px;
	}
	.mob-form-wr{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 25px 15px;
		background: #FFFFFF;
		box-shadow: 0px 5px 15px rgba(17, 48, 84, 0.15);
		border-radius: 10px;
		border: 4px solid rgba(63,144,187, 0.3);
		margin: 40px 0;
	}
	.mob-form-wr .form-wrap {
		width: 100%;
		margin: 0;
	}
	.head .on {
		padding: 7em 30px 12em;
	}

}

@media screen and (max-width: 768px) {
	/* .hood .on {
		flex-direction:column
	} */

	.head .on .a h1 {
		font-size: 1.5em
		max-width: 460px;
	}

	.head .on .a p {
		font-size: 1.2em
	}

	.head .on .a ul li {
		font-size: .8em
	}

	.head .on {
		padding: 2em 0
	}

	.serv .on {
		/* flex-direction: column; */
		/* text-align: center; */
	}

	.work .on {
		padding: 1em
	}

	.work .on p {
		font-size: 1.5em
	}

	.serv .on .h {
		margin: 1em auto !important;
	}

	.work .on ul li {
		flex: 1 31%
	}

	/* .about .on, .contact .on,.foot .on {
		flex-direction: column
	} */

	.materials-wrapper h3 {
		margin: 30px 0 0px;
	}
	.materials-box {
		width: 100%;
		min-height: 370px;
		padding: 0px 15px;
	}
	/* .advantages-box img {
		height: 70px;
	} */
	.advantages-wrapper {
		width: 100%;
		flex-wrap: wrap;
	}
	.advantages-box {
		width: 33.33%;
		margin-bottom: 20px;
	}
	.contact-wr {
		position: static;
		box-shadow: none;
		text-align: center;
	}
	.contact .on {
		box-shadow: none;
		flex-direction: column;
    /* height: auto; */
	}
	/* .map {
		height: auto;
		flex-direction: column;
	} */
	.contact-wr::before{
		display: none;
	}
	.head {
		flex-direction: column-reverse;
		justify-content: flex-start;
		height: 475px;
		padding-bottom: 40px;
	}
	.mob-btn {
		position: static;
		/* bottom: 10vh; */
		z-index: 1;
		transform: none;
	}
	.technologies .l ul {
		font-size: 16px;
	}
	.technologies .l p {
		font-size: 18px;
		padding: 7px 0 7px 35px;
	}
}
@media screen and (max-width: 658px) {
	.mob-form-wr .form-wrap {
		flex-direction: column-reverse;
	}
	.mob-form-wr .form-wr {
		width: 100%;
		padding: 0;
	}

	
}
@media screen and (max-width: 458px) {
	.advantages-box {
		width: 50%;
	}
	.head .on .a h1 {
		font-size: 1.5em;
		/* -webkit-text-stroke: 0px; */
	}
	.mob-btn .but {
		width: 300px;
		padding: 1em;
		font-size: 18px;
	}
	.technologies .l ul {
		font-size: 14px;
		margin-left: 50px;
	}
	.technologies .l p {
		font-size: 16px;
		padding: 7px 0 7px 35px;
	}
}